@charset "UTF-8";
/*------------------------ОБНУЛЕНИЕ--------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  color: inherit;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------ОБЩЕЕ------------------------*/
body {
  width: 100%;
  background-color: #00529e;
}

/*------------------------ШАПКА------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  height: 100px;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  background-color: #a2214a;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 0 6px 10px -4px black;
          box-shadow: 0 6px 10px -4px black;
  z-index: 11;
}

.container h1 {
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  font-family: Roboto-Light;
  letter-spacing: 1px;
}

.container .emblem {
  margin: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}

.container .emblem:nth-of-type(1) {
  background-image: url(../images/barsa.png);
}

.container .emblem:last-of-type {
  background-image: url(../images/real.png);
}

@media screen and (max-width: 900px) {
  .container {
    height: 80%;
  }
  .container .emblem {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 650px) {
  .container .emblem {
    width: 55px;
    height: 55px;
  }
  .container h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    height: 70%;
  }
  .container .emblem {
    width: 45px;
    height: 45px;
  }
  .container h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    height: 60%;
    width: 95%;
  }
  .container .emblem {
    width: 45px;
    height: 45px;
  }
  .container h1 {
    font-size: 14px;
  }
}

/*------------------------ГЛАВНАЯ------------------------*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__border {
  min-height: 100vh;
  margin: 0px 9px;
  width: 7%;
  background: -webkit-gradient(linear, left top, right top, color-stop(14.28571%, #a50044), color-stop(14.28571%, #d8af05), color-stop(28.57143%, #d8af05), color-stop(28.57143%, #a50044), color-stop(42.85714%, #a50044), color-stop(42.85714%, #d8af05), color-stop(57.14286%, #d8af05), color-stop(57.14286%, #a50044), color-stop(71.42857%, #a50044), color-stop(71.42857%, #d8af05), color-stop(85.71429%, #d8af05), color-stop(85.71429%, #a50044));
  background: linear-gradient(to right, #a50044 14.28571%, #d8af05 14.28571%, #d8af05 28.57143%, #a50044 28.57143%, #a50044 42.85714%, #d8af05 42.85714%, #d8af05 57.14286%, #a50044 57.14286%, #a50044 71.42857%, #d8af05 71.42857%, #d8af05 85.71429%, #a50044 85.71429%);
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 85%;
}

/*------------------------ТАБЛО------------------------*/
.main__score {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.main__score h2 {
  color: white;
  font-size: 24px;
  font-family: Roboto-Bold;
  text-transform: uppercase;
}

.main__score_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.main__score_total p {
  font-size: 100px;
  font-family: Roboto-Bold;
}

.main__score_total span {
  display: block;
  font-size: 24px;
  font-family: Roboto-Bold;
  text-transform: uppercase;
  margin-top: -10px;
}

.main__score_total .tire {
  color: white;
}

.main__score_total .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 15px;
}

.main__score_total .total:first-of-type {
  color: #a50044;
}

.main__score_total .total:last-of-type {
  color: #d8af05;
}

/*------------------------КОНТЕНТ-ЧАСТЬ------------------------*/
.main__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__content-block_table {
  width: 20%;
  margin-left: 3%;
  margin-top: 40px;
}

.main__content-block_table table {
  border: 1px solid black;
  width: 100%;
}

.main__content-block_table table th {
  background-color: #a50044;
  border: 1px solid black;
  color: white;
  height: 30px;
  font-size: 12px;
  font-family: Roboto-Thin;
}

.main__content-block_table table tr {
  background-color: #edf0f5;
  height: 30px;
  font-family: Roboto-Regular;
  font-size: 10px;
  text-align: center;
}

.main__content-block_table table tr:nth-of-type(2n) {
  background-color: white;
}

.main__content-block_table table tr:nth-of-type(2), .main__content-block_table table tr .real-bold {
  font-family: Roboto-Bold;
}

.main__content-block_table table tr td:nth-of-type(2) {
  text-align: left;
}

.main__content-block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 2%;
  text-align: center;
  width: 50%;
  color: white;
  font-family: Roboto-Regular;
}

.main__content-block_content h2 {
  padding-bottom: 15px;
}

.main__content-block_content p {
  text-align: justify;
  text-indent: 13px;
  line-height: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.match_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  min-height: 250px;
  max-height: 250px;
  margin-top: 30px;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
}

.slider_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #000;
  height: 90%;
  z-index: 2;
}

.slider_window .slide {
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 3;
}

.slider_window .slide:nth-of-type(1) {
  background-image: url(../images/slider_mathes/0.jpg);
  background-size: 100% 100%;
}

.slider_window .slide:nth-of-type(2) {
  background-image: url(../images/slider_mathes/1.jpg);
  background-size: 100% 100%;
}

.slider_window .slide:nth-of-type(3) {
  background-image: url(../images/slider_mathes/2.jpg);
  background-size: 100% 100%;
}

.slider_window .slide:nth-of-type(4) {
  background-image: url(../images/slider_mathes/3.jpg);
  background-size: 100% 100%;
}

.slider_window time, .slider_window h2, .slider_window p {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
}

.slider_window time {
  margin-top: 10px;
  font-family: Roboto-Light;
  font-size: 24px;
}

.slider_window h2 {
  margin-top: 20px;
  font-family: Roboto-Thin;
  letter-spacing: 2px;
  font-size: 15px;
}

.slider_window p {
  font-family: Roboto-Bold;
  letter-spacing: -2px;
  font-size: 25px;
}

.slider_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 10%;
}

.slider_dots span {
  width: 15px;
  height: 15px;
  margin: 0 15px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.slider_dots span:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.slider_dots .arrow {
  background-color: none;
  border: none;
  border-radius: none;
  color: black;
}

.main__content-block_info-map {
  width: 20%;
  margin-top: 40px;
}

.card {
  margin-bottom: 10px;
  overflow: hidden;
}

.card .card_block_h {
  border-radius: 15px 15px 0 0;
  background-color: #792c60;
}

.card .card_block_p {
  border-radius: 0 0 15px 15px;
  background-color: #2f428e;
}

.card:nth-of-type(2n) .card_block_h {
  background-color: #2f428e;
}

.card:nth-of-type(2n) .card_block_p {
  background-color: white;
}

.card:nth-of-type(2n) p {
  color: black;
}

.card h2 {
  width: 100%;
  font-size: 10px;
  padding: 15px 5px 15px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: white;
  font-family: Roboto-Light;
}

.card p {
  text-align: center;
  font-size: 10px;
  color: white;
  font-family: Roboto-Light;
  padding: 5px 10px 5px 10px;
}

@media screen and (max-width: 1100px) {
  .main__content-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__content-block_table {
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
  }
  .main__content-block_content {
    width: 90%;
    margin-top: 30px;
    margin-left: 3%;
  }
  .main__content-block_info-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-top: 40px;
  }
  .card {
    margin: 0px 10px;
  }
}

@media screen and (max-width: 600px) {
  .main__content-block_info-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
  }
  .card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .main__content-block_info-map {
    width: 90%;
    margin-left: 5%;
  }
  .match_slider {
    min-height: 180px;
    max-height: 180px;
    margin-top: 30px;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
  }
  .slider_dots span {
    width: 10px;
    height: 10px;
  }
}

/*------------------------СЛАЙДЕРЫ С ИГРОКАМИ------------------------*/
.main__player-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 30px;
  min-height: 200px;
}

.main__player-sliders .firstSlider, .main__player-sliders .secondSlider {
  width: 300px;
  height: 350px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  margin: 0px 20px;
}

.main__player-sliders .container_slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 100%;
  min-height: 100%;
}

.main__player-sliders .container_slides h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a50044;
  font-size: 22px;
  margin-top: 100%;
  height: 50px;
  text-transform: uppercase;
  font-family: Roboto-Bold;
  background-color: rgba(255, 255, 255, 0.5);
}

.firstSlider {
  background-image: url(../images/back_barsa.jpg);
  background-size: 100% 100%;
}

.firstSlider .slide_one {
  min-width: 100%;
  min-height: 100%;
  background-size: 100% 100%;
  position: relative;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.firstSlider .slide_one:nth-of-type(1) {
  background-image: url(../images/slider_barsa_players/0.png);
}

.firstSlider .slide_one:nth-of-type(2) {
  background-image: url(../images/slider_barsa_players/1.png);
}

.firstSlider .slide_one:nth-of-type(3) {
  background-image: url(../images/slider_barsa_players/2.png);
}

.firstSlider .slide_one:nth-of-type(4) {
  background-image: url(../images/slider_barsa_players/3.png);
}

.firstSlider .slide_one:nth-of-type(5) {
  background-image: url(../images/slider_barsa_players/4.png);
}

.firstSlider .slide_one:nth-of-type(6) {
  background-image: url(../images/slider_barsa_players/5.png);
}

.firstSlider .slide_one:nth-of-type(7) {
  background-image: url(../images/slider_barsa_players/6.png);
}

.firstSlider .slide_one:nth-of-type(8) {
  background-image: url(../images/slider_barsa_players/7.png);
}

.firstSlider .slide_one:nth-of-type(9) {
  background-image: url(../images/slider_barsa_players/8.png);
}

.secondSlider {
  background-image: url(../images/back_real.jpg);
  background-size: 100% 100%;
}

.secondSlider .slide_two {
  min-width: 100%;
  min-height: 100%;
  background-size: 100% 100%;
  position: relative;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.secondSlider .slide_two:nth-of-type(1) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/0.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(2) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/1.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(3) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/2.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(4) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/3.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(5) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/4.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(6) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/5.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(7) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/6.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(8) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/7.png);
  background-size: 100% 100%;
}

.secondSlider .slide_two:nth-of-type(9) {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../images/slider_real_players/8.png);
  background-size: 100% 100%;
}

@media screen and (max-width: 810px) {
  .main__player-sliders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 780px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*------------------------------КОММЕНТАРИИ----------------------*/
.main__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 300px;
}

.container_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 70%;
  height: auto;
}

.container_comment h2 {
  color: white;
  font-family: Roboto-Light;
  font-size: 26px;
  padding-bottom: 10px;
}

.form-name {
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
  outline: none;
  font-size: 24px;
  font-family: Roboto-Light;
}

.form-comment {
  width: 100%;
  min-height: 150px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-family: Roboto-Light;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}

.form-button {
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #DFF1E1;
  cursor: pointer;
  outline: none;
}

.form-button:active {
  background-color: #B4E4B9;
}

.show-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

.show-form hr {
  width: 100%;
}

.comment-block {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.comment-block p:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 26px;
  font-family: Roboto-Bold;
}

.comment-block p:nth-of-type(1) span {
  font-size: 14px;
  font-family: Roboto-Thin;
  color: #2B2B2B;
  cursor: pointer;
}

.comment-block p:nth-of-type(2) {
  font-size: 20px;
  font-family: Roboto-Light;
  margin-top: 10px;
  word-break: break-all;
}

@media screen and (max-width: 890px) {
  .form-name {
    height: 45px;
    font-size: 16px;
  }
  .form-comment {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .container_comment {
    width: 90%;
  }
  .form-name {
    width: 55%;
  }
  .comment-block {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .main__content {
    width: 100%;
  }
  .main__border {
    display: none;
  }
}

/*------------------------ШРИФТЫ------------------------*/
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
