.main__player-sliders{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    min-height: 200px;

    .firstSlider, .secondSlider{
        width: 300px;
        height: 350px;
        background-color: #fff;
        overflow: hidden;
        border-radius: 20px;
        margin: 0px 20px;
    }

    .container_slides{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        min-width: 100%;
        min-height: 100%;
    
        h2{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $my_pink;
            font-size: 22px;
            margin-top: 100%; 
            height: 50px;
            text-transform: uppercase;
            font-family: Roboto-Bold;
            background-color: rgba(255,255,255,0.5)
        }
    }
}

.firstSlider{
    background-image: url(../images/back_barsa.jpg);
    background-size: 100% 100%;

    .slide_one{
        min-width: 100%;
        min-height: 100%;
        background-size: 100% 100%;
        position: relative;
        transition: all 0.8s ease-out;
    }

    @for $i from 0 through 8 {
        .slide_one:nth-of-type(#{$i + 1}){
            background-image: url(../images/slider_barsa_players/#{$i}.png);
        }
    }
}

.secondSlider{
    background-image: url(../images/back_real.jpg);
    background-size: 100% 100%;

    .slide_two{
        min-width: 100%;
        min-height: 100%;
        background-size: 100% 100%;
        position: relative;
        transition: all 0.8s ease-out;
    }

    @for $i from 0 through 8 {
        .slide_two:nth-of-type(#{$i + 1}){
            min-width: 100%;
            min-height: 100%;
            background-image: url(../images/slider_real_players/#{$i}.png);
            background-size: 100% 100%;
        }
    }
}

@media screen and (max-width: 810px){
    .main__player-sliders{
        display: flex;
        height: 780px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}