header
    .container|
        |
        //img(src="images/barsa.png" alt="Герб Барсы")
        .emblem
        h1 My classico
        |
        |
        .emblem
        //(src="images/real.png" alt="Герб Реала")
        //button Авторизация