.firstSlider
    .container_slides
         each val, index in  ['Рональд Куман', 'Марк-Андре тер Штеген', 'Сержиньо Дест','Жерар Пике', 'Рональд Араухо', 'Серхио Бускетс', 'Карлес Аленья','Антуан Гризманн', 'Миралем Пьянич']
            .slide_one
                h2= index + ' ' + val
.secondSlider
    .container_slides
        each val, index in  ['Зинедин Зидан', 'Тибо Куртуа', 'Дани Карвахаль','Эдер Милитао', 'Серхио Рамос', 'Рафаэль Варан', 'Начо Фернандес','Эден Азар', 'Тони Кроос']
            .slide_two
                h2= index + ' ' + val